<div class="login-container">
  <h2>Connexion</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        class="form-control"
        [(ngModel)]="email"
        name="email"
        required
        #emailInput="ngModel"
      />
      <div
        *ngIf="emailInput.invalid && emailInput.touched"
        class="error-message"
      >
        L'e-mail est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [(ngModel)]="password"
        name="password"
        required
        #passwordInput="ngModel"
      />
      <div
        *ngIf="passwordInput.invalid && passwordInput.touched"
        class="error-message"
      >
        Le mot de passe est requis.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      Se connecter
    </button>
  </form>
  <div class="signup-link-container">
    <p>Pas encore inscrit ?</p>
    <a (click)="redirectToRegister()" class="signup-btn">Inscrivez-vous ici</a>
  </div>
</div>
